@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.button {
  @include button-primary;
  min-width: 120px;
  font-size: 24px; // 18pt from specs
  font-family: $font-family;
  font-weight: $font-weight-medium; // 500 from specs

  &--secondary {
    background-color: transparent;
    border: 1px solid $border-color;
    color: $text-primary;

    &:hover:not(:disabled) {
      background-color: $background-light;
      border-color: $text-secondary;
    }
  }

  &--full-width {
    width: 100%;
  }
}

